body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
    /*-webkit-text-stroke: 2px white;*/
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    /*text-shadow: 2px 0 0 white;*/
    /*-webkit-text-stroke: 2px white;*/
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.random{
    background-color: black;
    color: turquoise;
    border-color: #00ffff;
    padding: 3px 5px;
}